body, p, a {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #1c5631;
	background: white;
}



.holding-page {
}

.holding-page .container {
	box-sizing: border-box;
	padding: 0 15px;
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}

.holding-page img {
	display: block;
	width: 552px;
	max-width: 100%;
	margin: 100px auto 0;
}

.holding-page p {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

.holding-page a {
	display: block;
	margin: 0 auto;
	text-decoration: none;
}

.holding-page a:hover {
	color: #82a42b;
}


